<ion-view view-title="Approvals">
    <ul ng-show="show_order_menu" class="navigate-menu">
        <li ng-click="sortBy('approval_title')">Document Title </li>
        <li ng-click="sortBy('meeting_date')">Meeting Date</li>
        <li ng-click="sortBy('meeting_type')">Meeting Type</li>
    </ul>

    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="approvals-content">
            <ion-list>
                <div class="tab-row" ng-if="approvals.length == 0">
                    <div class="grid-view-nodata">
                                No approval has not been started.
                    </div>
                </div>
                <div class="tab-row" ng-repeat="approval in approvals">
		<ion-item class="item-stable" ng-click="toggleApprovalItem(approval)"	ng-class="{active: isApprovalShown(approval)}"><!-- {active: isGroupShown(group)}-->
                        <div class="tab-column">
                            <span class="boxes" ng-class="setApprovalStatusClass(approval)"></span>
                            <span class="tab-title">
                                <h3><a ng-click="inAppOpen(approval.Url)">{{approval.Title}} </a>
                                    
                                    <i class="icon attach-icon" ng-if="approval.SupportingDocuments.length>0" ng-click="showDocs(approval.SupportingDocuments);$event.stopPropagation();"></i><!-- Paper clip Icon-->
                                </h3>
                                <p>{{approval.MeetingType.Title.E}}</p>
                                <p> {{approval.Meeting.Title}}</p>
                            </span>
                            <i class="icon" ng-class="isApprovalShown(approval) ? 'list-up' : 'list-down'"></i>

                        </div>

                    </ion-item>
                     

                    <div class="subdiv"><!--approvers-->
                        <ion-item class="item-accordion" ng-show="isApprovalShown(approval) "> <!-- approval.Approvers.length >0 --->
                            
                            <div class="grid-view-nodata" ng-if="!approval.Approvers">
                                Approval has not been started
                            </div>
                            
                            <div class="grid-view" ng-if="approval.Approvers.length>0">
                                <div class="row" ng-repeat="approver in approval.Approvers">
                                    <div class="col col-50">{{approver.UserName}}</div>
                                    <div class="col">{{approver.Date}}</div>
                                    <div class="col">{{approver.Status}}</div>
                                </div>

                            </div>
                            <div class="comment-column" ng-show="showComment(approval)">
                                <textarea placeholder="Add your comment" ng-model="comments[$index]"></textarea>
                            </div>
                            
                            <div class="grid-view-nodata nocomment" ng-show=" !comments[$index] && nocomment[$index]">Please enter comment.</div>
                            <div class="view-button" ng-if="approval.Approvers.length>0">
                                <ul>
                                    <li><a class="comment" ng-click="toggleComment(approval)"><img src="img/comment-icon.png" alt="" /></a></li>
                                    <li><a class="close" ng-click="rejectApproval(approval,$index)"><img src="img/close-icon.png" alt="" /></a></li>
                                    <li><a class="select" ng-click="approveApproval(approval,$index)"><img src="img/right-click.png" alt="" /></a></li><!-- ng-click="approveApproval(approval,$index)"-->
                                </ul>
                            </div>
                        </ion-item>

                    </div><!--sub content-->

                    <div class="report-popup" ng-show="showDocList(approval.SupportingDocuments)">
                        <ul ng-if="showDocList(approval.SupportingDocuments)">
                            <!--<li>Cover Page.docx</li>
                            <li>http://pvm1.mgcg.ca/eSCRIBE Supporting Documents/2dceba32-3d39-495f-802f-bd1dfee84cd6/Title title.docx</li>
                            <li>Recommendation Attachment.docx</li>
                            <li>0 Days for Approval Test.docx</li>-->
                            <li ng-repeat="doc in approval.SupportingDocuments">{{doc}}</li>

                        </ul>
                    </div>
                </div><!-- end approval in approvals-->
            </ion-list>
        </div>


    </ion-content>
</ion-view>
