<ion-view>
<ion-content>

<div class="header-logo">
  <a href="#" title="Scribe Manager Mobile"><img src="img/logo.jpg" alt="logo"></a>
</div>

<div class="banner clearfix">
  <img alt="Banner" class="img-responsive" src="img/banner-img1.jpg">  
</div>

<form  class="padding" name="loginform" novalidate ng-submit="doLogin()">
  <div class="list login-form">
      
    <label class="item item-input item-select">     
        <select ng-model="formdata.login_method" name="login_method" required>
          <option value="">Login Type</option>
          <option value="ADFS" >ADFS</option>
          <option value="Forms" >Forms</option>
          <option value="Windows">Windows Authentication</option>
      </select>
    </label>
      <p ng-show="loginform.login_method.$touched && loginform.login_method.$invalid" class="error_msg">Select Login type.</p>

    <label class="item">
     <!--  <span class="input-label">Portal URL</span> -->
     
     <input type="text" placeholder="Portal URL without (https://)" required ng-model="formdata.portal_url" name="portal_url" class="item-input" autocorrect="off" autocapitalize="off" spellcheck="false" >
     <i class="icon url-icon"></i>
   </label>
      <p ng-show="loginform.portal_url.$touched && loginform.portal_url.$invalid" class="error_msg">Portal URL is required.</p>

   <label class="item">
     <!--  <span class="input-label">Username</span> -->
     <input type="text" placeholder="Username" ng-model="formdata.user_name" required name="user_name" class="item-input" autocorrect="off" autocapitalize="off" spellcheck="false" >
     <i class="icon user-icon"></i>
   </label>
      <p ng-show="loginform.user_name.$touched && loginform.user_name.$invalid" class="error_msg">Username is required.</p>

   <label class="item">
     <!--  <span class="input-label">Password</span> -->
     <input type="password" placeholder="Password" ng-model="formdata.password" required name="password" class="item-input">
     <i class="icon pwd-icon"></i>
   </label>
      <p ng-show="loginform.password.$touched && loginform.password.$invalid" class="error_msg">Password is required.</p>
      
   <ion-list>
   <ion-checkbox ng-model="formdata.is_remember">Remember Me</ion-checkbox>
 </ion-list>
      <label class="error_msg">{{login_failed_msg}}</label>
 <button class="button button-block button-success" ng-disabled="loginform.$invalid" type="submit">Login</button>

</div>
</form>
   <div class="footer">
    <p>Support <a href="tel:+18552990023">1-855-299-0023</a>,</p>
    <a href="mailto:support@escribecorporate.com">support@escribecorporate.com</a>
    <p>All Rights Reserved &copy; eSCRIBE Software Ltd</p>
  </div>
</ion-content>
</ion-view>
