<ion-modal-view class="modal popup-modal transparent" >   
    <ion-pane class="transparent">
        <div class="modal-header">
            <button ng-click="closeModal()" class="modal-close">X</button>
        </div>
        <ion-content>
        <ul class="ulcontent">
            <li ng-repeat="doc in attachDocs">
                <a ng-click="downloadFile(doc.Url,doc.FileName,$event)">
                    {{doc.FileNameNoExt}}
                </a>
            </li>
        </ul>
        </ion-content>
  </ion-pane>
</ion-modal-view>