

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLightItalic';
	src: url('../fonts/OpenSans-LightItalic-webfont.eot');
	src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSans-Italic-webfont.eot');
	src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
	src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');
	src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
	src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansExtrabold';
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
	url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansExtraboldItalic';
	src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
	src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
	url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

input::-moz-placeholder, textarea::-moz-placeholder{ color:#343434;}
input::-o-placeholder, textarea::-o-placeholder{ color:#343434;}
input::-webkit-placeholder, textarea::-webkit-placeholder{ color:#343434;}

body{font-family: 'OpenSansRegular'; line-height: 19px; font-size: 13px; font-weight: 400; color: #333333;}
.header-logo{text-align: center;padding: 18px 0 11px;}
.banner {position: relative; width: 100%;}
.banner img {width: 100%;}
.icon{position: absolute;right: 0;margin: 0 10px;width: 19px;}
.url-icon{background: url(../img/link.png) no-repeat;height: 15px;top:50%; margin-top: -6px;}
.user-icon{background: url(../img/user.png) no-repeat;height: 18px;top:50%; margin-top: -8px;}
.pwd-icon{background: url(../img/lock.png) no-repeat;height: 20px;top: 15px; margin-top: -9px;}
.padding{ padding:10px 15px;}
.bar.bar-stable{background: #16567c; border:none; padding-left:15px; padding-right:15px;}
.bar.bar-stable .button{ color: #fff; padding:0px;}
.bar.bar-stable .button.button-icon::before{padding:0px;}
.bar.bar-stable .title{ color: #fff; font-size: 17px; font-weight: 600; font-family: 'OpenSansSemibold';}
.order-setting{background:url(../img/size-icon.png) no-repeat center center!important; width: 18px; height: 17px;}
label.item-inupt{position: relative;}
.item{margin: 10px 0; /*padding:15px 15px 14px;*/ padding:13px 15px;}
.bar .buttons-right span{ margin-left: 0px; margin-right: 10px;}
.button-icon.button.active, .button-icon.button.activated{opacity: 0.7;}
.login-form .item{padding:0px; height:40px; line-height: 39px; border:#cccccc solid 1px;}
.login-form .item.item-select{height: 38px; border:none; margin-bottom:10px;}
.login-form .item.item-select select{direction: ltr;max-width: 100%;width: 100%;background: #EDEDED; height: 38px; color: #333333; font-family: 'OpenSansRegular'; padding:0px 12px;}
.login-form .item.item-select::after{background: url(../img/down-arrow.png)no-repeat;width: 15px;height: 8px;border:0;}
.login-form .input-label {color: #333333; display: table; font-size: 13px; max-width: 200px; padding:0; width: 35%; font-family: 'OpenSansRegular'; float: left;}	
.login-form .item-input{ height: 38px; padding:4px 34px 3px 15px; font-family: 'OpenSansRegular'; color: #2f2e2e; font-size: 13px; font-weight: 400; width: 100%;}
/*.login-form .disable-user-behavior .list .item{ height: auto; }*/
.login-form .disable-user-behavior .list .item{ border:none;}
.login-form .disable-user-behavior .list .checkbox input, .login-form .disable-user-behavior .list .checkbox-icon{ width: 23px; height: 23px;}
.login-form .disable-user-behavior .list .item .item-content{ display: inline-block; color: #333333; font-size: 13px; font-weight: 300; font-family: 'OpenSansRegular'; margin-left: 32px;}
.item-checkbox{border:none;padding-left: 40px;}
.checkbox input::before, .checkbox .checkbox-icon::before{border-radius: 0; border-color: #c3c3c3;}
.item-checkbox .checkbox{left: 0;padding: 7px 0;}
.checkbox input:checked::before, .checkbox input:checked + .checkbox-icon::before{background: #2980ba;border-color: #2980ba;}
.login-form button{ min-height: 40px; font-weight: 600; font-family: 'OpenSansSemibold'; font-size: 16px;}
.button-success{background: #2980ba;color: #ffffff; text-transform: uppercase;border-radius: 0; border:none;}
.button-success:hover{background: #135783; color: #fff;}
.checkbox input::after, .checkbox-icon::after{ left:22%;}

.list{ padding-top: 0px;}
.list .item.item-accordion {line-height: 38px; padding-top: 0; padding-bottom: 0; transition: 0.09s all linear; -o-transition: 0.09s all linear; -moz-transition: 0.09s all linear; -webkit-transition: 0.09s all linear;}
.list .item.item-accordion.ng-hide {line-height: 0px;}
.list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove {display: block !important;}

/**********approvals ****************/
.approvals-content .list .item.item-stable{ background:#fff; border:none; margin:0px; position: relative;  min-height: 90px;}
.approvals-content .tab-row{border-bottom: 1px solid #d9d9d9; margin-bottom: 1px; position: relative;}
.tab-column .boxes{ width: 20px; height: 20px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; display: inline-block; float: left;}
.tab-column .boxes.red{background: #c00000;}
.tab-column .boxes.yellow{background: #d3d30a;}
.tab-column .boxes.green{background: #22ad54;}

.list-down{ background:url(../img/listing-down.png) no-repeat; width:19px; height:10px; bottom:20%; margin:0 0 -3px 0; right:18px;} /* brinda - 28/11/2016 */
.list-up{background: url(../img/listing-top.png) no-repeat; width: 19px; height: 10px; bottom: 20%; margin: -6px 0 0 0; right: 18px;} /* brinda - 28/11/2016 */

.tab-column {line-height: normal;}
.tab-column .tab-title{ /*float: left;*/ padding-left: 12px; position: relative; display: inline-block; top :-2px; width : 85%; word-wrap: break-word; }
.tab-column .tab-title h3{margin:0px; padding:0px; color: #16567c; font-weight: 600; font-size: 14px; font-family: 'OpenSansSemibold';}
.tab-column .tab-title h3 a{color: #16567c; font-weight: 600; font-size: 14px; font-family: 'OpenSansSemibold'; text-decoration: none;  white-space: normal; word-wrap: break-word;}
.tab-column .tab-title h3 a:hover{color: #333333;}
.tab-column .tab-title p{margin:0px; padding:0px; color: #333333; font-size: 12px; font-weight: 300; font-family: 'OpenSansLight';}
.subdiv .item.item-accordion{ margin:0px; border:none; padding-left:0px; padding-right:0px;}
.subdiv .grid-view{ background: #f1f1f1; padding:8px 10px; overflow-x:hidden; overflow-y:scroll; min-height: 80px;}
.subdiv .grid-view .row{ padding:0px;}
.subdiv .grid-view .row .col{ padding-top: 0px; padding-bottom: 0px; font-size: 12px; line-height:25px;}
.subdiv .view-button{ display: block; padding:12px 10px 0px; text-align: right;}
.subdiv .view-button ul{ margin:0px; padding:0px; list-style: none; display: inline-block; line-height:normal;}
.subdiv .view-button ul li{ display:inline-block; margin-right:5px;}
.subdiv .view-button ul li a.comment{ background: #16567c; width: 50px; height: 30px; line-height: 9px; text-align: center; vertical-align: middle; display:table-cell;}
.subdiv .view-button ul li a.comment:hover{ background:rgba(22,86,124, 0.7);}
.subdiv .view-button ul li a.close{ background: #c00000; width: 50px; height: 30px; line-height:13px; text-align: center; vertical-align: middle; display:table-cell;}
.subdiv .view-button ul li a.close:hover{ background:rgba(192,0,0, 0.7);}
.subdiv .view-button ul li a.select{ background: #22ad54; width: 50px; height: 30px; line-height: 16px; text-align: center; vertical-align: middle; display:table-cell;}
.subdiv .view-button ul li a.select:hover{ background:rgba(37,173,81, 0.7);}

.attach-icon{display: inline-block; width: 24px; height: 24px; background: url(../img/attach-ment.png) no-repeat center center; position: absolute; right: 5px; top: 7px;} /* brinda - 28/11/2016 */ 
/*.attach-icon:focus,.attach-icon:hover,.attach-icon:active,.attach-icon.activated{ display: inline-block; width: 24px; height: 24x; background: url(../img/attach-ment-h.png) no-repeat center center; position: absolute; right: 5px; top: 7px;} *//* brinda - 28/11/2016 */ 

.report-popup{ position: absolute; width: 232px; border:#cccccc solid 1px; padding:9px 0 9px 9px; z-index: 99; /*display: none;*/ background: #fff; top:42px; left:46px; height: 137px;overflow-x:hidden; overflow-y:auto;}
.report-popup li{color: #333333; display: block; font-size: 12px; font-weight: 300; margin-bottom: 5px; line-height: 22px;}
.comment-column{ padding:17px 15px 0px 15px;}
.comment-column textarea{ width: 100%; padding:5px; height: 120px; border:1px solid #d9d9d9; font-family: 'OpenSansRegular'; color: #2f2e2e; font-size: 13px;}

/********** right side menu navigate 22/08/2016***********/
.navigate-menu{position:absolute; z-index: 999; background:#4e636f; width: 60%; padding:10px 15px; right:0px; top:1px; top: 44px;}
/*.navigate-menu:after{content:''; width: 0; height: 0; border-style: solid; border-width: 0 30.5px 30px 30.5px; border-color: transparent transparent #16577c transparent;}*/
.navigate-menu li{color: #fff; font-size: 14px; padding-bottom: 10px;}
.navigate-menu li a{text-decoration: none; color: #fff; font-size: 14px;}

.grid-view-nodata {
	background: #f1f1f1 none repeat scroll 0 0;
	font-family: "OpenSansLight";
	font-size: 14px;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 8px 10px 8px 8px;
	text-align: center;
}
.nocomment {
    margin-top: 15px;
}

.disable-user-behavior .item-complex a.item-content {padding: 0;}

/*error message*/
label.error_msg {
    color: #FF0000;
}
p.error_msg {
    color: #FF0000;
}


/*
.doc_popup .popup-head{
  display:none;
}

.doc_popup .popup-body ul li{
  margin:1px 0;
}*/

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.transparent {
  background: transparent !important;
}

/*
new - #2980ba
old - #22AD54
*/

/* brinda - 28/11/2016 */


  /*.popup-modal {width: 100% !important; height: 100%; top: 0 !important; left: 0 !important; }
  .ulcontent {bottom: 25%; margin: auto; overflow: auto; top: 25%; width:80%; position:relative; background-color: #fff; padding:2px; max-height:50%; } */

  .popup-modal {width: 80%; margin: 0 auto; display: inline-block; left: 0; right: 0; min-height: 200px; top: 50%;margin-top:-100px;/*  transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); */ background: #fff !important; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 3px; }
  .ulcontent {margin-top:30px; overflow: auto; position: relative; padding: 5px 10px; }
  .ulcontent li{border-bottom: 1px solid #e2e2e2; padding: 3px 0 4px; }
  .ulcontent li a{font-size: 14px; line-height: 25px; display:block;width:100% }
  .modal-header{border-bottom: 1px solid #e5e5e5; padding: 4px 5px; position: relative; display: inline-block; width: 100%; background:#e0e0e0;z-index: 9;}
  .modal-close{border:0; background: transparent; float:right;font-size: 18px;padding: 0 4px; color: #16567c;}
  .footer{background: #e3e3e3; padding: 10px; text-align: center; } 
  .footer p{font-size: 14px; line-height: 18px; color: #000; font-family: 'OpenSansRegular';margin-bottom: 0px; } 
  .footer p a{font-size: 14px; line-height: 18px; color: #000; font-family: 'OpenSansSemibold'; } 
  .footer a{font-size: 14px; line-height: 18px; color: #000; font-family: 'OpenSansRegular';    margin-bottom: 2px; display: inline-block;}

  
/*.scroll-view.scroll-y.inner-grid-view{height:80px;overflow-y: hidden;}
.scroll-view.scroll-y.inner-popup{height: 119px;overflow-y: hidden; padding-right: 9px;}*/

  /*Platform specific styles*/
  .platform-ios{
	  margin-top: 20px;
  }  
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {height : 44px;}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 0px; }

.platform-ios.platform-cordova:not(.fullscreen) .has-header,
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 44px;
}
